


.home {
   

    &__title {
        
         position: absolute;
         text-align: center;
         margin-top: -15%;
         margin-left: 29%;
         font-family: $blog-name;
        
         font-size: 4em;
    }

    
    
    
  
}