


.home-content {
     
    &__recent-article {
        position: relative;
        display: block;
        
        width: 59.5%;
        height: 40vh;
        margin-left: 6%;
        margin-top: 50px;

            &__img  img {
            
            width: 32%;
            height: 40vh;
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 15px;
        }

            &__text {
            
            
            position: absolute;
            top:0;
            left:36%;
            
            padding: 15px;
                
                &__title {
                    font-family: $title;
                    font-size: 1em;
                }

                &__content {
                    font-family: $content;
                    font-size: .65em;
                }

                &__btn {
                    width: 18%;
                    margin-left: 80%;
                    text-align: center;
                }

                &__btn a {
                    color: $main-color;
                    text-decoration: none;
                    font-family: $content;
                    font-size: .7em;
                } 

                &__btn:hover {
                    border-bottom: 1px solid $main-color;  
                }
        }

        
    }
    &__about {
        position: absolute;
        top: 56.4%;
        border-bottom: 5px solid $main-color;
        width: 25%;
        height: 135%;
        margin-left: 68%;

        &__img img {
            width: 100%;
            height: 65vh;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__text {
            padding: 15px;

            &__title {
                font-family: $title;
                font-size: 1em;
            }

            &__content {
                font-family: $content;
                font-size: .8em;
            }

             &__btn a, &__link a {
                 color: $main-color;
                text-decoration: none;
                display:flex;
                align-content: center;
                justify-content: center;
                font-family: $content;
                font-size: .8em;
                
        




            }

           
        }
        
    }
   
}
#upper-text {
    position: absolute;
    bottom: 190px;
    left: 114px;
    
}
