#navigation {
    margin-top: 40px;  
  
  }
  .dropdown:hover {
      & a {
      color : #70dbdbdb;}
      & .dropdown-content a {
      color : $text-color;
      
      } 
    }
    
  
  ul {
      list-style-type: none;
      
      overflow: hidden;
      background-color: $main-color;
      border: 2px solid $main-color;
      list-style: none;
      color: $main-color;
      text-decoration: none;
      
  }
  
  li {
      float: left;
  }
  
  li a, .dropbtn {
      text-decoration: none;
      display: inline-block;
      color: $text-color;
      text-align: center;
      padding: 14px 16px;
      
  }
  .dropdown:hover {
      color: $main-color;
  }
  li a:hover, .dropdown:hover {
      background-color:#fff;
      color: $main-color;
      text-decoration: none;
     
  }
  .dropdown-content:hover .dropbtn {
      color : #70dbdbdb;
  }
  
  .dropdown-content {
      text-decoration: none;
      display: none;
      position: absolute;
      background-color: $main-color;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-content a {
      
      color: $main-color;
      padding: 12px 16px;
      text-decoration: none;
      text-align: left;
  }
  
  .dropdown {
      position : static;
  }
  
  
  .dropdown:hover  .dropdown-content {
    display: block;
  }
  .dropdown-content a {
      
      padding: 12px 16px;
      text-decoration: none;
      text-align: center
  }
  
  .dropdown-content:hover{
      clear: both;
      border: 1px solid $main-color;
     
    
  }
  
  #upper-text {
      position: absolute;
      margin-top: 40px;
      margin-left: 52px;
      
  }
  
  