#navigation {


    font-family: $title;
    margin-top: 8%;
    border-bottom: 5px solid $main-color;
    width: 87%;
    height: 10vh;
    margin-left: 6%;
    color:black;
  }
 
  ul {
      list-style-type: none;
      list-style: none;
        text-decoration: none;
      overflow: hidden;
      color: $main-color;
     
  }
  
  li {
      float: left;
  }
  
  li a, .dropbtn {
      text-decoration: none;
      display: inline-block;
      color: black;
      text-align: center;
      //margin-left: 5%;
      width: 180px;
      //padding: 14px;
      
  }
  li a:hover {
      
      color: $main-color;
      font-weight: 300;
      text-decoration: none;
      border-left: 1px solid $main-color;
      border-right: 1px solid $main-color;
     
  }

  
 
 
  
  

  
  
 
  
  
  