.content {
   
    &__videos {
        
         margin-top: 80px;
    }

    &__videos iframe {

        width: 470px;
        height: 350px;
        display: block;
        padding-bottom: 50px;
        
        margin-left: 25%;
     
    }
}