.content {
   
    //Upper borders

   &__border1 {
        border-left: 3px solid $main-color;
        position: absolute;
        top: 73%;
        left: 5%;
        height: 20%;

        
   }

   &__border2 {
       border-top: 3px solid $main-color;
       margin-top: 6%;
       margin-left: 5%;
        height: 25%;
        
        width: 20%;
   }

        &__border3 {
            border-left: 3px solid $main-color;
            position: absolute;
            top: 72%;
            right: 5%;
            height: 20%;

    
}

    &__border4 {
    border-top: 3px solid $main-color;
    position: absolute;
    margin-top: -0.5%;
    margin-left: 75%;
    height: 25%;
    
    width: 20%;
    }

     //Down borders

    &__border5 {
        border-left: 3px solid $main-color;
        position: absolute;
        top: 183%;
        left: 5%;
        height: 20%;

        
   }

   &__border6 {
       border-top: 3px solid $main-color;
       position: absolute;
       margin-top: 61.8%;
       margin-left: 5%;
        height: 25%;
        
        width: 20%;
   }

        &__border7 {
            border-left: 3px solid $main-color;
            position: absolute;
            top: 183%;
            right: 5%;
            height: 20%;

    
}

    &__border8 {
    border-top: 3px solid $main-color;
    position: absolute;
    margin-top: 61.8%;
    margin-left: 75%;
    height: 25%;
    
    width: 20%;
    }

   
    &__videos {
        
         margin-top: 2.6%;
         margin-left: 6%;

    }

    &__videos iframe {

        width: 490px;
        height: 330px;
        
        padding-left: 2%;
        padding-bottom: 2%;
        justify-content: center;
        margin: auto;
        
        
        
     
    }
}